/* CSS Dùng chung, mã màu tạo tay, các thẻ chung */
:root {
  --color-danger: #ee3b47;
  --color-success: #1fd312;
  --color-info: #167efb;
  --color-logo: #2c2e3e;
  --color-logo-light: #34374c;
  --color-text: #121212;
  --color-text-light: rgba(18, 18, 18, 0.8);
  --color-neutral-bg: #f6f6f6;
  --color-highlight-bg: rgba(228, 35, 19, 0.1);
  --color-neutral-border: rgba(18, 18, 18, 0.2);
  --color-highlight-border: rgba(228, 35, 19, 0.8);
  --color-primary: #c3811d;
  --color-primary-master-audio: rgba(228, 35, 19, 1);
  --color-primary-light: rgba(183, 136, 51, 0.9);
  --color-secondary: #fef5e8;
  --color-secondary-hightlight: #ffecd1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border-radius: 2px; */
  list-style-type: none;
}
body {
  background: #f6f6f6;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
a:hover {
  color: #000;
}
/* style cho ô INPUT dùng chung  */
input {
  border: 1px solid rgba(208, 208, 208, 1);
  border-radius: 2px;
  padding: 8px 6px;
  transition: all 0.2s;
}
input:hover {
  box-shadow: 0px 0px 4px 0px rgba(208, 208, 208, 1);
}
input:focus {
  outline: none !important;
  box-shadow: 0px 0px 2px 0px rgba(208, 208, 208, 1);
}
input::placeholder {
  color: rgba(208, 208, 208, 0.8);
  font-size: 14px;
}

.custom-number {
  max-width: 8.5rem;
}
.custom-number input {
  max-width: 3.5rem;
}
/* Nút lên đầu trang */
.go-on__top-page {
  background-color: rgba(228, 35, 19, 0.2);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: -4px;
  font-size: 25px;
  font-weight: 100;
  text-decoration-line: none;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 20px;
  bottom: 100px;

  transition: all 0.1s ease;
}
.go-on__top-page:hover {
  color: #fff;
}
/* Loadding ...  */
.loadding_products-list,
.loadding_products-list__mobile {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 10rem 0;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 10%;
  left: 47%;
}
.loadding-text {
  margin: 10rem 0;
  text-align: center;
}
.loadding-text_center {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 120px;
  height: 120px;
  margin: 10rem auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Nút bị ẩn ko hiện ngón tay */
button:not(:disabled) {
  cursor: pointer;
}
/* Ẩn nút ko cho chuyển trang vs ẩn bàn tay */
.cursor__not-allowed {
  cursor: not-allowed !important;
  opacity: 0.8;
}
/* Ẩn nút */
/* Thông báo Giỏ hàng trống */
.empty-cart-message,
.empty-cart-message__mobile {
  font-size: 1.125rem;
  color: var(--color-danger);
  margin: 3rem auto 0;
}
/* Bỏ mũi tên tăng giảm số ở ô input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.justify-content__center {
  justify-content: center !important;
}
.justify-content__space-between {
  justify-content: space-between !important;
}
/* Dòng thông báo lỗi */
.error,
.feedback-noti {
  color: #ee3b47;
  color: var(--color-danger);
  font-style: italic;
  font-size: 0.8rem;
  display: none;
}
/* Thông báo đã thêm so vào giỏ hàng */
.add-to-cart_done {
  padding: 2rem;
  background-color: rgba(228,35,19, 0.3);
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 10;
}
/* Modal thông báo đãn thêm sp vào giỏ hàng */
.modal-body img {
  width: 80px;
}
.modal-body span{
  font-size: 18px;
}
.modal-body strong{
  font-size: 20px;
}
.modal-dialog {
  margin-top: 8rem;
}

/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  .empty-cart-message__mobile,
  .loadding_products-list__mobile {
    display: flex;
  }
}

/* Small */
@media (min-width: 576px) {
  .empty-cart-message__mobile,
  .loadding_products-list__mobile {
    display: flex;
  }
}

/* Medium */
@media (min-width: 768px) {
  .empty-cart-message__mobile,
  .loadding_products-list__mobile {
    display: none;
  }
}

/* Large */
@media (min-width: 992px) {
  .empty-cart-message__mobile,
  .loadding_products-list__mobile {
    display: none;
  }
}

/* Extra large */
@media (min-width: 1200px) {
}

/* Extra extra large */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */

/* breadcrumb */
.page-banner {
  /* border: 1px solid red; */
  /* background-color: #c4c4c4; */
  background-image: url("https://github.com/NguyenKeo/MasterAudio/blob/main/img/banner/EDM-banner-breadcrumb-Wallpaper.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
}
.page-banner__content {
  width: 100%;
  padding: 2.25rem 0;
  background-color: rgba(18, 18, 18, 0.45);
  color: #fff;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 8px;
  text-transform: uppercase;
}

.breadcrumb-title {
  font-size: 28px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.page-banner__hr-line {
  background-color: #fff;
  height: 0.125rem;
  width: 4rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

.breadcrumb {
  margin: 0;
  margin-top: -3px;
}

.breadcrumb li {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}
.breadcrumb a {
  color: rgba(255, 255, 255, 1);
  height: 100%;
}

/* Ghi đề CSS bootstrap - thay dấy / thành > */
.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
  color: rgba(255, 255, 255, 1) !important;
}

/* ***************************************** */
/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn iphone 5 */
  .breadcrumb-container {
    /* padding: 3px 8px; */
    font-size: 12px;
    /* margin-top: 89px; */
    /* height: 28px; */
  }
  .breadcrumb-content {
    padding: 0px;
    padding-top: 2px;
    /* height: 25px; */
  }
}
/* Small */
@media (min-width: 576px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 567px */
  .breadcrumb-container {
    /* padding: 4px 30px; */
    font-size: 12px;
    /* margin-top: 89px; */
    /* height: 32px; */
  }
  .breadcrumb-content {
    max-width: 100% !important;
    /* margin-top: 5px; */
  }
}

/* Medium */
@media (min-width: 768px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 768px */
  .breadcrumb-container {
    /* padding: 8px 40px; */
    font-size: 12px;
    /* margin-top: 100px; */
    /* height: 36px; */
  }
  .breadcrumb-content {
    max-width: 100% !important;
    /* margin-top: 5px; */
  }
}

/* Large */
@media (min-width: 992px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 768px */
  .breadcrumb-container {
    font-size: 14px;
  }
  .breadcrumb-content {
    max-width: 960px !important;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 768px */
  .breadcrumb-container {
    font-size: 16px;
  }
  .breadcrumb-content {
    max-width: 1140px !important;
  }
}

/* Extra extra large */
@media (min-width: 1400px) {
  .breadcrumb-content {
    max-width: 1320px !important;
  }
}
/* End Responsive by @Media same  bootstrap*/
