/* CSS Dùng chung, mã màu tạo tay, các thẻ chung */
:root {
  --color-danger: #ee3b47;
  --color-success: #1fd312;
  --color-info: #167efb;
  --color-logo: #2c2e3e;
  --color-logo-light: #34374c;
  --color-text: #121212;
  --color-text-light: rgba(18, 18, 18, 0.8);
  --color-neutral-bg: #f6f6f6;
  --color-highlight-bg: rgba(228, 35, 19, 0.1);
  --color-neutral-border: rgba(18, 18, 18, 0.2);
  --color-highlight-border: rgba(228, 35, 19, 0.5);
  --color-primary: #c3811d;
  --color-primary-master-audio: rgba(228, 35, 19, 1);
  --color-primary-light: rgba(183, 136, 51, 0.9);
  --color-secondary: #fef5e8;
  --color-secondary-hightlight: #ffecd1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  list-style-type: none;
}
body {
  background: #f6f6f6;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
a:hover {
  color: #000;
}
/* style cho ô INPUT dùng chung  */
input {
  border: 1px solid rgba(208, 208, 208, 1);
  border-radius: 2px;
  padding: 8px 6px;
  transition: all 0.2s;
}
input:hover {
  box-shadow: 0px 0px 4px 0px rgba(208, 208, 208, 1);
}
input:focus {
  outline: none !important;
  box-shadow: 0px 0px 2px 0px rgba(208, 208, 208, 1);
}
input::placeholder {
  color: rgba(208, 208, 208, 0.8);
  font-size: 14px;
}

.custom-number {
  max-width: 8.5rem;
}
.custom-number input {
  max-width: 3.5rem;
}
/* Loadding ...  */
.loadding_products-list, .loadding_products-list__mobile {
  /* border: 0.1px solid red; */
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
/* Thông báo Giỏ hàng trống */
.empty-cart-message, .empty-cart-message__mobile {
  font-size: 1.125rem;
  color: var(--color-danger);
  margin: 3rem auto 0;
}
/* Bỏ mũi tên tăng giảm số ở ô input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.justify-content__center {
  justify-content: center!important;
}
.justify-content__space-between {
  justify-content: space-between!important;
}
/* Dòng thông báo lỗi */
.error, .feedback-noti {
  color: #ee3b47;
  color: var(--color-danger);
  font-style: italic;
  font-size: .8rem;
  display: none;
}

/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  .empty-cart-message__mobile, .loadding_products-list__mobile {
    display: flex;
  }
}

/* Small */
@media (min-width: 576px) {
  .empty-cart-message__mobile, .loadding_products-list__mobile {
    display: flex;
  }
}

/* Medium */
@media (min-width: 768px) {
  .empty-cart-message__mobile, .loadding_products-list__mobile {
    display: none;
  }
}

/* Large */
@media (min-width: 992px) {
  .empty-cart-message__mobile, .loadding_products-list__mobile {
    display: none;
  }
}

/* Extra large */
@media (min-width: 1200px) {

}

/* Extra extra large */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */
